<!DOCTYPE html>
<html lang="pt-BR" ng-app="hospitalModule" ng-controller="HospitalController as vm">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Hospital</title>
    <link rel="stylesheet" href="hospital.css">
</head>
<body>

    <h1>{{ vm.titulo }}</h1>

    <div class="container">
        <form ng-submit="vm.adicionarHospital()">
            <label>Nome do Hospital:</label>
            <input type="text" ng-model="vm.novoHospital.nome" placeholder="Digite o nome">

            <button type="submit">Cadastrar</button>
        </form>

        <h2>Hospitais Cadastrados</h2>
        <ul>
            <li ng-repeat="hospital in vm.hospitais">
                {{ hospital.nome }} - 
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="../../../dist/bundle.js"></script> 
</body>
</html>
