<!DOCTYPE html>
<html lang="pt-BR" ng-app="patientModule" ng-controller="PatientController as vm">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Paciente</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
  <link rel="stylesheet" href="patient.css">

  <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>
</head>
<body>

  <div class="container">
    <button class="back-button" onclick="window.history.back()">Voltar</button>
    <h1>{{ vm.titulo }}</h1>

    <form ng-submit="vm.adicionarPaciente()" id="pacienteForm" novalidate>
      <label for="nome">Nome do Paciente:</label>
      <input type="text" id="nome" ng-model="vm.novoPaciente.name" placeholder="Digite o nome completo" required>

      <label for="dataNascimento">Data de Nascimento:</label>
      <input type="text" id="dataNascimento" ng-model="vm.novoPaciente.dataNascimento" placeholder="AAAA/MM/DD" required>

      <button type="submit">Cadastrar</button>
    </form>

    <h2>Pacientes Cadastrados</h2>
    <ul id="listarPacientes">
      <li ng-repeat="paciente in vm.pacientes" class="patient-item">
        ID: {{ paciente.id }} <br>Nome: {{ paciente.name }} <br>Nascimento: {{ paciente.dataNascimento }}
        <button ng-click="vm.deletarPaciente(paciente.id)">Excluir</button>
      </li>
    </ul>

  </div>

  <script src="../../../dist/bundle.js"></script>
 

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      Inputmask("9999/99/99").mask("#dataNascimento");

      });

  </script>

</body>
</html>
