<!DOCTYPE html>
<html lang="pt-BR" ng-app="quartoModule">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quartos com Leitos</title>
  <link rel="stylesheet" href="quarto.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
</head>
<body ng-controller="QuartoController as vm">


  <div class="container">
    <button class="back-button" onclick="window.history.back()">Voltar</button>
    <div>
         <h1>Quartos</h1>

         <input type="text" ng-model="vm.filtro" placeholder="Buscar por código ou especialidade">
    </div>
    <ul>
   
      <li ng-repeat="quarto in vm.quartosDisponiveis | filter:vm.filtrarQuartos">
        <strong>Quarto: {{quarto.codigo}} - Especialidade: {{quarto.specialty}}</strong>

        <ul>
          <li ng-repeat="leito in quarto.leitos" >
            Leito ID: {{leito.id}} <br>Status: {{leito.status}}
          </li>
        </ul>

        <button ng-click="vm.excluirQuarto(quarto.id)">Excluir Quarto</button>
      </li>
    </ul>

  </div>

  <script src="../../../dist/bundle.js"></script>
  
</body>
</html>
