html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, rgb(83, 163, 255),#b3e5fc, white );
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}

.container {
  max-width: 600px;
  width: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input[type="number"],
input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000000;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
  margin-bottom: 10px;
}

input:focus {
  border-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background-color: #acacac;
  color: white;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.2s;
  margin-top: 10px;
}

button:hover {
  background-color: #005f8c;
  transform: translateY(-2px);
}
